<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ETemplate Demo</title>
</head>

<body>
    <div id='ct'></div>

    <script type="text/template" id='demo1'>
        <div>人员信息</div>
        <div>姓名：${ "\"阿猫"}</div>
        <div>年龄: ${age}</div>
        <% if(true) {%>
            ${new Date().toJSON()}
        <% }%>
        <hr> ${each(list,render('#list'))}        
    </script>

    <script type="text/template" id='date'>
        ${_data_.toJSON()} 'a' -- ${log(_data_,new Date(),[{a:1},1,2,3])} --
    </script>

    <script type="text/template" id='list'>
        <div>
            <di>索引：${__index__}</div>
            <div>${loc}</div>
            <div>${com}</div>
            <div>${title}</div>
            <div>${loc}</div>
            <div>${com}</div>
            <div>${title}</div>
            <div>${loc}</div>
            <div>${com}</div>
            <div>${title}</div>
            <div>${loc}</div>
            <div>${com}</div>
            <div>${title}</div>
        <div>
            <hr>
    </script>



    <script src="../src/v2/eTemplate.js"></script>
    <script>
        function getList() {
            const arr = [];
            for (let i = 0; i < 10; i++) {
                arr.push({
                    loc: `北京` + i,
                    com: `阿里` + i,
                    title: '开发' + i
                })
            }
            return arr
        }

        const list = getList()

        eTemplate.registerFun('getNow', function () {
            alert(new Date().toJSON())
        })

        console.time('renderTime')

        var tpl = document.getElementById('demo1').innerHTML;
        for (var i = 0; i < 1; i++) {

            var reuslt = eTemplate(tpl, {
                age: 28,
                name: 's',
                list: list
            })
        }

        console.timeEnd('renderTime')

        document.getElementById('ct').innerHTML = reuslt
    </script>
</body>

</html>